<form id="searchthis" style="display:inline;" action="/search" method="post" >
	<input id="search-box" name="songName"  size="40" type="text" placeholder="Song to Dance!"/>
	<button id="search-btn" type="submit">Go!</button>
</form>
